// Specific CSS for your home-page
.search-gird {
  background-color: #FFBD59;

  h1 {
    color: white;
  }

  h2 {
    color: black;
  }
}

.input-color {
  background-color: white;
}

.banner1 {
  background-color: white;
}

.btn-search {
  background-color: #FFBD59;
  color: black;
  border-color: #FFBD59;
}

#banner-radius {
  border-radius: 0 0 25px 25px;
}
