<% if @pets.empty?%>
  <%@pets = Pet.all%>
  <div class="container my-4 text-center">
  <i class="error fa-solid fa-circle-exclamation" style="color: #ffbd59;"></i>
  Sorry, there are no results matching your search, would you like to consider the pets below?
  </div>
  <%= render "pets_card"%>
<%else%>
  <%= render "pets_card"%>
<%end%>
