<div class="container p-2">
<h1>A safe start to a lifelong friendship</h1>
<p>Connect with trusted breeders and rescues</p>

  <div class="input-color p-4 rounded-5">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass" style="color: #ffbd59;"></i></span>
        <input type="text" class="form-control" placeholder="Animal Type" aria-label="Username" aria-describedby="addon-wrapping">
    </div>

    <div class="input-group">
      <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-location-dot" style="color: #ffbd59;"></i></span>
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
    </div>
  </div>
</div>
