.pet-filters {
  margin-top: 20px;

  a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 7px;
    border-radius: 50%;
  }

  i {
    margin: 0 12px;
    font-size: 24px;
  }
}
