<div class="container messenger"
  data-controller = "messenger-subscription"
  data-messenger-subscription-messenger-id-value="<%= @messenger.id %>"
>
  <h1>Chat</h1>
  <div class="messages" data-messenger-subscription-target="messages">
    <% @messenger.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
</div>
